<div class="row spaced">
    <div class="a-headline">{{headline}}</div>
    <hr style="width: 100%; background:slategray; color: slategray" />
    <div class="a-body">{{blurb}}</div>
    <div class="a-link"><a href={{url}} target="_blank">{{url}}</a></div>
    <div class="a-comment"><button class="openComments" data-id={{_id}}>Click here to comment</button></div>
</div>