<div class="modal" id="commModal">
    <div class="modal-header">Comments</div>
    <hr />
    <div class="modal-content">
        {{#each comments}}
        <p hidden article={{article}} class="cDate" comment={{_id}}>{{date}}:</p>
        <p href="#!" hidden article={{article}} class="del" comment={{_id}}>Delete comment</p>
        <p hidden article={{article}} class="c" comment={{_id}}>{{comment}}</p>
        <p hidden article={{article}} class="comment-hr" comment={{_id}}></p>
        {{/each}}
    </div>
    <div class="modal-footer">
        <input type="text" class="text" placeholder="Add a comment" id="commento">
        <button id="addComment">Submit</button>
        <div class="close-box"><button id="close">Close</button></div>
    </div>
</div>

<div class="modal" id="loading" style="position:absolute; left: 45%; bottom: 30%; width:10%; height:10%">
    <img style="margin:auto; width: 95%; height: 95%" src="./images/loading.gif" />
</div>